/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
    list-style: none;
}

/**
    Упрощаем работу с изображениями
   */
img {
    display: block;
    max-width: 100%;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Плавный скролл
     */
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}




body {
    font-family: "Rubik", serif;
}



/* HEADER */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 110px;
    height: 67px;



}

.header-menu {
    display: flex;
    justify-content: center;
    /* Занимает доступное пространство, у меня отцентрировало
    иконки */
    flex-grow: 1;
}



.header-menu-list {
    display: flex;

    column-gap: 56px;
    flex-wrap: wrap;


}

.header-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 1.2px;
    color: black;
}



.header-menu-link:hover {
    color: rgb(216, 214, 214);
}


.header-menu-link.is-current {
    color: #90E051;
}

.header-book-button {
    border: none;
    background-color: transparent;

}





/* MAIN-MENU */


.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}


.left-menu {
    padding-inline: 110px;
    padding-top: 60px;
}


.left-menu-header {
    font-size: 116px;
    font-weight: 700;
    /*  коэффициент = line-height / font-size 
     192px / 116px */
    line-height: 1.65;
}


.left-menu-header-green {
    color: #90E051;
}

.left-menu-paragraph {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.45;
}



.right-menu {
    padding-left: 173px;
    width: 820px;
    height: 734px;
    padding-top: 95px;
}

.main-menu-button {
    padding-top: 64px;


}

.main-menu-button-left {
    margin-right: 45px;
    padding: 21px 72px;
    background-color: #90E051;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 29.4px;
    transition: all 0.4s ease;

}


.main-menu-button-left:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.2);
}


.main-menu-button-right {
    font-size: 29.4px;
    color: #90E051;
    text-decoration: none;
    transition: color 0.4s;
}



.main-menu-button-right:hover {
    color: black;
}
















@media (max-width: 2000px) {
    .right-menu {
        padding-left: 80px;
        width: 720px;
        height: 634px;

    }
}




@media (max-width: 1600px) {
    .right-menu {
        padding-left: 0px;
        width: 620px;
        height: 534px;


    }


    .left-menu-header {
        font-size: 90px;
    }
}



@media (max-width: 1240px) {
    .right-menu {
        padding-left: 0px;
        width: 620px;
        height: 534px;


    }


    .left-menu-header {
        font-size: 70px;
    }


    .main-menu-button-left {
        font-size: 25.4px;
        padding: 15px 50px;
    }

    .main-menu-button-right {
        font-size: 25.4px;

    }

    .left-menu {
        padding-inline: 70px;

    }


}













@media (max-width: 1024px) {
    .header-menu {
        /* перебрасывается в конец */
        order: 1;
        column-gap: 10px;


    }


    .left-menu-header {
        font-size: 50px;
    }

    .left-menu-paragraph {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.45;
    }



    .main-menu-button-left {
        font-size: 20.4px;
        padding: 10px 30px;
        border-radius: 15px;
  }

  .main-menu-button-right {
    font-size: 20.4px;
    
}





}



@media (max-width: 830px) {
    .header {
        /* чтобы перебросить на новую строку */
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 10px;
        padding-inline: 15px;
    }


    .main-menu{
        flex-direction: column-reverse;
    }

    .right-menu{
        width: 570px;
        height: 434px;
    }


    .left-menu{
        margin-top: 110px;
    }


}




@media (max-width: 767px) {
    


    

    .right-menu{
        width: 370px;
        height: 234px;
    }


    .left-menu{
        margin-top: 130px;
    }


}